/*CSS Reset*/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: none;
    list-style-type: none;
    font-family: var(--default-font-family);
    font-weight: 200;
}

:root {
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

svg {
    color: var(--color-base-text)
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

textarea:focus, input:focus {
    outline: none;
}

/*Dark and Light Themes by System Preference*/
:root,
:root.light {
    --color-base-bg: var(--white);
    --color-nav-bg: var(--off-white);
    --color-accent-bg: var(--dark-grey);
    --color-base-text: var(--dark-grey);
    --color-hover: rgba(220, 220, 220, 0.3);
    --theme-name: "light";
  }
  
@media (prefers-color-scheme: dark) {
    :root {
        --color-base-bg: var(--dark-grey);
        --color-nav-bg: var(--mid-gray);
        --color-accent-bg: var(--off-white);
        --color-base-text: var(--white);
        --color-hover: rgba(294, 186, 105, 0.05);
        --theme-name: "dark";
    }
}

:root.dark {
    --color-base-bg: var(--dark-grey);
    --color-nav-bg: var(--mid-gray);
    --color-accent-bg: var(--off-white);
    --color-base-text: var(--white);
    --color-hover: rgba(294, 186, 105, 0.05);
    --theme-name: "dark";
}
  
  body {
    background-color: var(--color-base-bg);
    color: var(--color-base-text);
    padding: 10px;
  }
  
  .theme-name::after {
    content: var(--theme-name);
  }

/*Default CSS Custom Variables*/
:root {
    --default-size: clamp(2.25rem, 2vw + 1.5rem, 3.25rem);
    --default-max-inline-size: 66ch;
    --default-line-height: 1.65;
    --default-font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    --dark-grey: #18191a;
    --mid-gray: #242526;
    --light-grey: #3a3b3c;
    --blue: #4285F4;
    --white: #e4e6eb;
    --off-white: #b0b3b8;
}

/*Theme Select Slider*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 26px;
    width: 46px;
    background-color: var(--color-accent-bg);
    border: 3px solid black;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: 0px;
    background-color: var(--light-grey);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--color-accent-bg);
  }
  
  input:focus + .slider {
    background-color: var(--color-accent-bg);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/*Static Elements Rules*/
  body {
    display: grid;
    grid-template-columns: 280px 1fr;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0px;
  }

  nav {
    height: 100svh;
    background-color: var(--color-nav-bg);
    font-size: calc(3.25rem*0.32);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 18px;
  }

  .profile-container {
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
  }

.user-container {
    display: flex;
    justify-content: start;
    align-items: center;
}

.user-name {
    margin-left: 10px;
    margin-right: 4px;
}

.user-name,
.add-task,
.my-projects {
    font-weight: 500;
    font-size: calc(3.25rem*0.28);
}

.add-task {
    color: var(--blue);
}

.icon-container{
    margin-right: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}


  .profile-icon-background {
    height: 26px;
    width: 26px;
    background-color: var(--light-grey);
    border-radius: 34px;
  }

  .add-task-container,
  .inbox-container,
  .today-container,
  .upcoming-container,
  .priority-container,
  .completed-container,
  .my-projects {
    height: 39px;
    display: flex;
    align-items: center;
    gap: 8px;
    text-transform: capitalize;
  }
  .user-container:hover,
  #notification-icon:hover,
  #collapse-sidebar-icon:hover,
  .add-task-container:hover,
  .inbox-container:hover,
  .today-container:hover,
  .upcoming-container:hover,
  .priority-container:hover,
  .completed-container:hover,
  .my-projects:hover,
  .nav-project-list:hover {
    background-color: var(--color-hover);
    border-radius: 10px;
  }

  .user-container:hover {
    width: 120px;
  }

  .add-task-container:hover,
  .inbox-container:hover,
  .today-container:hover,
  .upcoming-container:hover,
  .priority-container:hover,
  .completed-container:hover,
  .my-projects:hover,
  .nav-project-list:hover {
    width: 240px;
  }

.inbox,
.today,
.upcoming,
.priority,
.completed {
    font-size: calc(3.25rem*0.28);
}  

  .theme-selector-container {
    position: absolute;
    left: 5px;
    bottom: 0px;
  }

main {
    display: grid;
    grid-template-rows: 93px 1fr;
}

.content-header-container {
    display: flex;
    align-items: end;
    padding: 4px 30px;
}

.content-container {
    padding: 4px 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

/*DOM Elements*/
.content-header {
    color: var(--color-base-text);
    font-size: calc(3.25rem*0.55);
    font-weight: 500;
    text-transform: capitalize;
}

.nav-project-list {
    height: 39px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: calc(3.25rem*0.28);
    text-transform: capitalize;
    margin-left: 10px;
  }

.section-header {
    color: var(--color-base-text);
    font-size: calc(3.25rem*0.30);
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 20px;
}

.add-section-container{
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 20px;
    padding-left: 10px;
    width: 260px;
    height: 40px;
    background-color: var(--color-nav-bg);
    border-radius: 10px;
    gap: 10px;
}

.add-section {
    color: var(--color-accent-bg);
    font-size: calc(3.25rem*0.28);
    font-weight: 200;
    width: 230px;
    height: 40px;
    text-transform: capitalize;
    margin-top: 22px;
}

.add-section:hover {
    color: var(--blue);
}

.main-add-task-container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 15px;
    gap: 5px;
}

.main-add-task {
    width: 100%;
    color: var(--color-accent-bg);
    font-size: calc(3.25rem*0.28);
    font-weight: 200;
    text-transform: capitalize;
    margin-bottom: 3px;
}

.main-add-task:hover {
    color: var(--blue);
}

  .task-card {
    position: relative;
    display: flex;
    width: 260px;
    height: auto;
    background-color: var(--color-nav-bg);
    border: 1px var(--color-accent-bg) solid;
    color: var(--color-base-text);
    border-radius: 10px;
    padding: 15px 10px;
    gap: 5px;
    margin-bottom: 15px;
    box-shadow: 10px 10px 10px -15px var(--color-accent-bg);
  }

  .task-card:hover {
    box-shadow: 10px 10px 10px -13px var(--color-accent-bg);
  }

  .task-text {
    max-inline-size: 22ch;
    margin-bottom: 10px;
  }

  .task-tags {
    display: flex;
    gap: 10px;
  }

  .task-options {
    position: absolute;
    top: 4px;
    right: 10px;
  }

.add-task-pop-up-container {
  position: absolute;
  display: grid;
  grid-template-columns: minmax(350px, 550px);
  grid-template-rows: 105px 65px;
  height: 190px;
  background-color: var(--color-nav-bg);
  border: 1px solid var(--color-accent-bg);
  border-radius: 10px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 20px;
  z-index: 1111;
}

.add-task-pop-up-top {
  border-bottom: 1px solid var(--color-accent-bg);
  display: flex;
  flex-direction: column;
}

.add-task-pop-up-input {
  background-color: var(--color-nav-bg);
  color: var(--color-base-text);
}

#task-name-input {
  font-size: 25px;
  text-transform: capitalize;
}

#description-input {
  font-size: 14px;
  text-transform: capitalize;
  height: 20px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.date-priority-container {
  display: flex;
  gap: 10px;
}

#due-date-input,
#priority-input {
  border: 1px solid var(--color-accent-bg);
  border-radius: 10px;
  padding: 5px;
}

#priority-input {
  text-transform: capitalize;
}

.add-task-pop-up-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#project-input,
#cancel-button,
#add-task-button {
  text-transform: capitalize;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  height: 32px;
}

.add-task-pop-up-button-container {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

#cancel-button {
  background-color: var(--color-hover);
  color: var(--white);
  width: 90px;
  border-radius: 10px;
}

#add-task-button {
  background-color: var(--blue);
  color: var(--white);
  width: 90px;
  border-radius: 10px;
}

.add-section-pop-up-container{
  background-color: var(--color-base-bg);
  margin-top: 20px;
  width: 260px;
  height: 80px;
}

#section-name-input {
  background-color: var(--color-base-bg);
  color: var(--color-accent-bg);
  font-size: calc(3.25rem*0.30);
  font-weight: 400;
  width: 260px;
  height: 35px;
  padding-left: 5px;
  border: 1px solid var(--color-accent-bg);
  border-radius: 5px;
  margin-bottom: 10px;
}