/*CSS Reset*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
}

:root {
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

textarea:focus, input:focus {
    outline: none;
}

/*Dark and Light Themes by System Preference*/
:root {
    --color-base-bg: var(--white);
    --color-base-text: var(--dark-grey);
    --theme-name: "light";
  }
  
@media (prefers-color-scheme: dark) {
    :root {
        --color-base-bg: var(--dark-grey);
        --color-base-text: var(--white);
        --theme-name: "dark";
    }
}
  
  body {
    background-color: var(--color-base-bg);
    color: var(--color-base-text);
    padding: 10px;
  }
  
  .theme-name::after {
    content: var(--theme-name);
  }

/*Default CSS Custom Variables*/
:root {
    --default-size: clamp(2.25rem, 2vw + 1.5rem, 3.25rem);
    --default-max-inline-size: 66ch;
    --default-line-height: 1.65;
    --default-font-family: 'Nimbus Mono PS', 'Courier New', monospace;
    --dark-grey: #1b1b1b;
    --light-grey: #80868B;
    --blue: #4285F4;
    --white: whitesmoke;
}

/*Webpage Specific Rules*/



/*Theme Select Slider*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
    width: 50px;
    background-color: var(--white);
    border: 5px solid black;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: 0px;
    background-color: var(--light-grey);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--dark-grey);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--dark-grey);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }