/*CSS Reset*/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: none;
    list-style-type: none;
    font-family: var(--default-font-family);
    font-weight: 200;
}

:root {
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

svg {
    color: var(--color-base-text)
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

textarea:focus, input:focus {
    outline: none;
}

/*Dark and Light Themes by System Preference*/
:root,
:root.light {
    --color-base-bg: var(--white);
    --color-nav-bg: var(--off-white);
    --color-accent-bg: var(--dark-grey);
    --color-base-text: var(--dark-grey);
    --theme-name: "light";
  }
  
@media (prefers-color-scheme: dark) {
    :root {
        --color-base-bg: var(--dark-grey);
        --color-nav-bg: var(--mid-gray);
        --color-accent-bg: var(--white);
        --color-base-text: var(--white);
        --theme-name: "dark";
    }
}

:root.dark {
    --color-base-bg: var(--dark-grey);
    --color-nav-bg: var(--mid-gray);
    --color-accent-bg: var(--white);
    --color-base-text: var(--white);
    --theme-name: "dark";
}
  
  body {
    background-color: var(--color-base-bg);
    color: var(--color-base-text);
    padding: 10px;
  }
  
  .theme-name::after {
    content: var(--theme-name);
  }

/*Default CSS Custom Variables*/
:root {
    --default-size: clamp(2.25rem, 2vw + 1.5rem, 3.25rem);
    --default-max-inline-size: 66ch;
    --default-line-height: 1.65;
    --default-font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    --dark-grey: #1b1b1b;
    --mid-gray: #2b2b2b;
    --light-grey: #80868B;
    --blue: #4285F4;
    --white: #F7F9F9;
    --off-white: whitesmoke;
}

/*Theme Select Slider*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 26px;
    width: 46px;
    background-color: var(--color-accent-bg);
    border: 3px solid black;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: 0px;
    background-color: var(--light-grey);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--color-accent-bg);
  }
  
  input:focus + .slider {
    background-color: var(--color-accent-bg);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /*Webpage Specific Rules*/
  body {
    display: grid;
    grid-template-columns: 280px 1fr;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0px;
  }

  nav {
    height: 100svh;
    background-color: var(--color-nav-bg);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }

  .profile-container {
    height: 6svh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }

.user-container {
    display: flex;
    align-items: center;
    gap: 7px;
}

.user-name,
.add-task {
    font-weight: 400;
}

.icon-container{
    margin-right: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}


  .profile-icon-background {
    height: 28px;
    width: 28px;
    background-color: var(--blue);
    border-radius: 34px;
  }

  .add-task-container,
  .inbox,
  .today,
  .upcoming,
  .priority,
  .completed,
  .my-projects {
    height: 4svh;
    padding-left: 12px;
  }

  .theme-selector-container {
    position: absolute;
    left: 5px;
    bottom: 0px;
  }

